/*
 * Sphinx doesn't have support for section dividers like we do in
 * MkDocs, this styles the section titles in the nav
 *
 * https://github.com/mkdocs/mkdocs/issues/175
 */
.wy-menu-vertical span {
    line-height: 18px;
    padding: 0.4045em 1.618em;
    display: block;
    position: relative;
    font-size: 90%;
    color: #838383;
}

.wy-menu-vertical .subnav a {
    padding: 0.4045em 2.427em;
}

/*
 * Long navigations run off the bottom of the screen as the nav
 * area doesn't scroll.
 *
 * https://github.com/mkdocs/mkdocs/pull/202
 *
 * Builds upon pull 202 https://github.com/mkdocs/mkdocs/pull/202
 * to make toc scrollbar end before navigations buttons to not be overlapping.
 */
.wy-nav-side {
    height: calc(100% - 45px);
    overflow-y: auto;
    min-height: 0;
}

.rst-versions{
    border-top: 0;
}

@media screen and (max-width: 768px) {
    .wy-nav-side {
        height: 100%;
    }
}

/*
 * readthedocs theme hides nav items when the window height is
 * too small to contain them.
 *
 * https://github.com/mkdocs/mkdocs/issues/#348
 */
.wy-menu-vertical ul {
  margin-bottom: 2em;
}

/*
 * Wrap inline code samples otherwise they shoot of the side and
 * can't be read at all.
 *
 * https://github.com/mkdocs/mkdocs/issues/313
 * https://github.com/mkdocs/mkdocs/issues/233
 * https://github.com/mkdocs/mkdocs/issues/834
 */
code {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 2px 5px;
}

/**
 * Make code blocks display as blocks and give them the appropriate
 * font size and padding.
 *
 * https://github.com/mkdocs/mkdocs/issues/855
 * https://github.com/mkdocs/mkdocs/issues/834
 * https://github.com/mkdocs/mkdocs/issues/233
 */
pre code {
  white-space: pre;
  word-wrap: normal;
  display: block;
  padding: 12px;
  font-size: 12px;
}

/*
 * Fix link colors when the link text is inline code.
 *
 * https://github.com/mkdocs/mkdocs/issues/718
 */
a code {
    color: #2980B9;
}
a:hover code {
    color: #3091d1;
}
a:visited code {
    color: #9B59B6;
}

/*
 * The CSS classes from highlight.js seem to clash with the
 * ReadTheDocs theme causing some code to be incorrectly made
 * bold and italic.
 *
 * https://github.com/mkdocs/mkdocs/issues/411
 */
pre .cs, pre .c {
    font-weight: inherit;
    font-style: inherit;
}

/*
 * Fix some issues with the theme and non-highlighted code
 * samples. Without and highlighting styles attached the
 * formatting is broken.
 *
 * https://github.com/mkdocs/mkdocs/issues/319
 */
.no-highlight {
  display: block;
  padding: 0.5em;
  color: #333;
}


/*
 * Additions specific to the search functionality provided by MkDocs
 */

.search-results article {
    margin-top: 23px;
    border-top: 1px solid #E1E4E5;
    padding-top: 24px;
}

.search-results article:first-child {
    border-top: none;
}

form .search-query {
    width: 100%;
    border-radius: 50px;
    padding: 6px 12px;  /* csslint allow: box-model */
    border-color: #D1D4D5;
}

.wy-menu-vertical li ul {
    display: inherit;
}

.wy-menu-vertical li ul.subnav ul.subnav{
    padding-left: 1em;
}

.wy-menu-vertical .subnav li.current > a {
    padding-left: 2.42em;
}
.wy-menu-vertical .subnav li.current > ul li a {
    padding-left: 3.23em;
}

/*
 * Improve inline code blocks within admonitions.
 *
 * https://github.com/mkdocs/mkdocs/issues/656
 */
 .admonition code {
  color: #404040;
  border: 1px solid #c7c9cb;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #f8fbfd;
  background: rgba(255, 255, 255, 0.7);
}

/*
 * Account for wide tables which go off the side.
 * Override borders to avoid wierdness on narrow tables.
 *
 * https://github.com/mkdocs/mkdocs/issues/834
 * https://github.com/mkdocs/mkdocs/pull/1034
 */
.rst-content .section .docutils {
    width: 100%;
    overflow: auto;
    display: block;
    border: none;
}

td, th {
   border: 1px solid #e1e4e5 !important; /* csslint allow: important */
   border-collapse: collapse;
}

.wy-side-nav-search {
    background-color: #343131 !important;
}

.wy-nav-top {
	background-color: #343131 !important;
}

.wy-side-nav-search a {
	margin-bottom: 0;
}

a.site-title {
	font-size: 200%;
}
/* Base16 Eighties Colorscheme by Chris Kempson (http://chriskempson.com) */
/* CSS from https://github.com/htdvisser/hugo-base16-theme */
.base00 { color: #2d2d2d; }
.base01 { color: #393939; }
.base02 { color: #515151; }
.base03 { color: #747369; }
.base04 { color: #a09f93; }
.base05 { color: #d3d0c8; }
.base06 { color: #e8e6df; }
.base07 { color: #f2f0ec; }
.base08 { color: #f2777a; }
.base09 { color: #f99157; }
.base0a { color: #ffcc66; }
.base0b { color: #99cc99; }
.base0c { color: #66cccc; }
.base0d { color: #6699cc; }
.base0e { color: #cc99cc; }
.base0f { color: #d27b53; }


div.builtwith a {
	color: #aaa;
}

.rst-versions .rst-current-version {
	text-align: center;
	padding-top: 0;
}

.rst-versions .rst-current-version a {
	margin-right: 10px;
}
.fa-github:before, .icon-github:before {
	font-size: 30px;
	position: relative;
	bottom: -6px;
	margin-right: 8px;
}

div.logo {
	text-align: center;
	padding: 10px;
}

div.logo img {
	width: 236px;
}

nav.wy-nav-top img {
	height: auto;
	width: 231px;
	background-color: transparent;
	border-radius: 0;
}

nav.wy-nav-top i {
	font-size: 60px;
}

/* Inline code */
code {
	color: #333;
}

/* Code block */
pre code {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

p {
  margin-bottom: 16px;
}

thead {
  white-space: normal !important;
  vertical-align: top !important;
}

div.wy-nav-content {
	/* The tables on the comparison page have gotten too big for the
	   default of 800px */
	max-width: 1000px;
}

html, body {
  /* make sure long tables are not cut off */
  overflow-x: auto !important;
}

body {
  /* default is a dark gray. Let's have better contrast. */
  color: black;
}

/* this enables having multiple links in one line. JU 2021-09-27 */
.wy-menu-vertical a {
  display: inline;
}
.wy-menu-vertical id {
  padding: 0.4045em 1.618em;
}
